
if SHIELD_SPLIT_ATREUS_RIGHT

config ZMK_KEYBOARD_NAME
	default "split atreus"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
endif

if SHIELD_SPLIT_ATREUS_LEFT || SHIELD_SPLIT_ATREUS_RIGHT

config ZMK_SPLIT
	default y
endif